(
    camera: (
        position: (
            x: -29.59673088043928,
            y: 154.68745090067387,
            z: -318.08460984379053,
        ),
        rotation: (
            x: 0,
            y: 0,
            z: 0,
        ),
        fov: 60,
    ),
    skybox: (
        handles: ("./skybox/Yokohama3/negx.png", "./skybox/Yokohama3/posx.png", "./skybox/Yokohama3/posy.png", "./skybox/Yokohama3/negy.png", "./skybox/Yokohama3/posz.png", "./skybox/Yokohama3/negz.png"),
    ),
    config: (
        reflection_spp: 3,
        refraction_spp: 3,
        shadow_spp: 3,
        distributed_tracing: false,
        recursion_depth: 3,
        denoise: false,
        dither: false,
        multi_thread: true,
        reflections: true,
        refractions: true,
        shadows: true,
        textures: true,
        skybox: true,
    ),
    shapes: [
        Sphere((
            origin: (
                x: -50,
                y: 150,
                z: 100,
            ),
            radius: 100,
            material: (
                texture: Texture(
                    handle: "./textures/checker.png",
                    scaling: (
                        x: 1,
                        y: 1,
                    ),
                ),
                c_diffuse: 0.30000001192092896,
                c_ambient: 0,
                reflectivity: (
                    amount: 0.699999988079071,
                    blurriness: 0.2,
                ),
                transparency: (
                    index_of_refraction: 1,
                    blurriness: 0,
                    amount: 0,
                ),
            ),
        )),
        Plane((
            origin: (
                x: 0,
                y: 0,
                z: 0,
            ),
            normal: (
                x: 0,
                y: 1,
                z: 0,
            ),
            material: (
                texture: Texture(
                    handle: "./textures/checker.png",
                    scaling: (
                        x: 1000,
                        y: 1000,
                    ),
                ),
                c_diffuse: 0.30000001192092896,
                c_ambient: 0,
                reflectivity: (
                    amount: 0.699999988079071,
                    blurriness: 0.5,
                ),
                transparency: (
                    index_of_refraction: 1,
                    blurriness: 0,
                    amount: 0,
                ),
            ),
        )),
    ],
    lights: [
        Point((
            origin: (
                x: -50,
                y: 350,
                z: 50,
            ),
            color: (
                x: 255,
                y: 255,
                z: 255,
            ),
        )),
    ],
)
