(
    camera: (
        position: (
            x: 0,
            y: 50,
            z: -200,
        ),
        rotation: (
            x: 0,
            y: 0,
            z: 0,
        ),
        fov: 60,
    ),
    skybox: (
        handles: ((3), (4), (5), (6), (7), (8)),
    ),
    config: (
        reflection_spp: 3,
        refraction_spp: 3,
        shadow_spp: 3,
        distributed_tracing: false,
        recursion_depth: 3,
        denoise: false,
        dither: false,
        multi_thread: true,
        reflections: true,
        refractions: true,
        shadows: true,
        textures: true,
        skybox: true,
    ),
    shapes: [
        Plane((
            origin: (
                x: 0,
                y: 0,
                z: 0,
            ),
            normal: (
                x: 0,
                y: 1,
                z: 0,
            ),
            material: (
                texture: Texture(
                    handle: (0),
                    scaling: (
                        x: 1000,
                        y: 1000,
                    ),
                ),
                c_diffuse: 0.3,
                c_ambient: 0,
                reflectivity: (
                    amount: 0.7,
                    blurriness: 0.5,
                ),
                transparency: (
                    index_of_refraction: 1,
                    blurriness: 0,
                    amount: 0,
                ),
            ),
        )),
        Plane((
            origin: (
                x: -200,
                y: 0,
                z: 100,
            ),
            normal: (
                x: 1,
                y: 0,
                z: 0,
            ),
            material: (
                texture: Color((
                    x: 175,
                    y: 0,
                    z: 0,
                )),
                c_diffuse: 1,
                c_ambient: 0,
                reflectivity: (
                    amount: 0,
                    blurriness: 0,
                ),
                transparency: (
                    index_of_refraction: 1,
                    blurriness: 0,
                    amount: 0,
                ),
            ),
        )),
        Plane((
            origin: (
                x: 0,
                y: 0,
                z: 100,
            ),
            normal: (
                x: 0,
                y: 0,
                z: -1,
            ),
            material: (
                texture: Color((
                    x: 255,
                    y: 255,
                    z: 255,
                )),
                c_diffuse: 1,
                c_ambient: 0,
                reflectivity: (
                    amount: 0,
                    blurriness: 0,
                ),
                transparency: (
                    index_of_refraction: 1,
                    blurriness: 0,
                    amount: 0,
                ),
            ),
        )),
        Plane((
            origin: (
                x: 0,
                y: 400,
                z: 100,
            ),
            normal: (
                x: 0,
                y: -1,
                z: 0,
            ),
            material: (
                texture: Color((
                    x: 255,
                    y: 255,
                    z: 255,
                )),
                c_diffuse: 1,
                c_ambient: 0,
                reflectivity: (
                    amount: 0,
                    blurriness: 0,
                ),
                transparency: (
                    index_of_refraction: 1,
                    blurriness: 0,
                    amount: 0,
                ),
            ),
        )),
        Plane((
            origin: (
                x: 200,
                y: 0,
                z: 100,
            ),
            normal: (
                x: -1,
                y: 0,
                z: 0,
            ),
            material: (
                texture: Color((
                    x: 0,
                    y: 175,
                    z: 0,
                )),
                c_diffuse: 1,
                c_ambient: 0,
                reflectivity: (
                    amount: 0,
                    blurriness: 0,
                ),
                transparency: (
                    index_of_refraction: 1,
                    blurriness: 0,
                    amount: 0,
                ),
            ),
        )),
        Sphere((
            origin: (
                x: 50,
                y: 125,
                z: 0,
            ),
            radius: 25,
            material: (
                texture: Color((
                    x: 255,
                    y: 255,
                    z: 255,
                )),
                c_diffuse: 0.3,
                c_ambient: 0,
                reflectivity: (
                    amount: 0.7,
                    blurriness: 0.14,
                ),
                transparency: (
                    index_of_refraction: 1,
                    blurriness: 0,
                    amount: 0,
                ),
            ),
        )),
    ],
    lights: [
        Point((
            origin: (
                x: -50,
                y: 350,
                z: 50,
            ),
            color: (
                x: 255,
                y: 255,
                z: 255,
            ),
        )),
        Point((
            origin: (
                x: 50,
                y: 100,
                z: 50,
            ),
            color: (
                x: 255,
                y: 255,
                z: 255,
            ),
        )),
    ],
)
